* {
  box-sizing: border-box;
}

:root {
  --color-primary-10: #e7cffe;
  --color-primary-50: #dcbcfb;
  --color-primary-100: #ca97fc;
  --color-primary-200: #b779f4;
  --color-primary-300: #a85ff0;
  --color-primary-400: #8f42dd;
  --color-primary-500: #8d34e6;
  --color-primary-600: #8021e0;
  --color-primary-700: #690fc3;
  --color-primary-800: #4e0596;

  --color-secondary-50: hsl(24, 93%, 83%);
  --color-secondary-100: hsl(24, 91%, 75%);
  --color-secondary-200: hsl(24, 96%, 68%);
  --color-secondary-300: hsl(24, 96%, 61%);
  --color-secondary-400: hsl(24, 96%, 53%);
  --color-secondary-500: hsl(24, 100%, 50%);
  --color-secondary-600: hsl(22, 90%, 50%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(
    ellipse at top,
    var(--color-primary-400),
    var(--color-primary-100)
  );
  min-height: 100vh;
}

#main-navigation {
  padding: 2rem 15%;
  display: flex;
  justify-content: center;
}

#main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.nav-item a {
  text-decoration: none;
  color: var(--color-primary-10);
}

.nav-item a:hover,
.nav-item a.active {
  color: var(--color-secondary-200);
}

.error {
  max-width: 25rem;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--color-secondary-100);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.success {
  max-width: 25rem;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
  background-color:green;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.info-message {
  margin: 2rem;
  text-align: center;
  color: var(--color-primary-50);
  font-size: 1.5rem;
}

@keyframes fade-blur-in {
  from {
    opacity: 0;
    filter: blur(1rem);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
  }
}

#content {
  text-align: center;
  color: var(--color-primary-10);
}

#cta {
  margin-top: 2rem;
}

#cta a {
  text-decoration: none;
  background-color: var(--color-secondary-100);
  color: var(--color-primary-800);
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 1.5rem;
}

#cta a:hover {
  background-color: var(--color-secondary-200);
}

#note-form {
  max-width: 30rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 6px;
  background-color: var(--color-primary-100);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

#note-form label,
#note-form input,
#note-form textarea {
  display: block;
  text-align: center;
}

#note-form label {
  margin-bottom: 0.5rem;
  color: var(--color-primary-500);
  font-weight: bold;
}

#note-form input,
#note-form textarea {
  width: 100%;
  font: inherit;
  padding: 0.5rem 0.25rem;
  background-color: var(--color-primary-200);
  border: none;
  border-radius: 2px;
  color: var(--color-primary-800);
}

.form-actions {
  text-align: center;
}

.form-actions--button {
  font: inherit;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 24px;
  background-color: var(--color-primary-200);
  color: var(--color-primary-700);
  font-weight: bold;
  font-size: 1.05rem;
}

.form-actions button:hover {
  background-color: var(--color-primary-200);
}

.form-actions button:disabled {
  background-color: var(--color-primary-200);
  color: var(--color-primary-300);
  cursor: not-allowed;
}

#note-details {
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
  color: var(--color-primary-50);
  background-color: var(--color-primary-800);
  border-radius: 24px;
  animation: fade-slide-in 1s ease-out forwards;
}

#note-details nav {
  margin: 1rem 0 2rem 0;
}

#note-details header a {
  color: var(--color-primary-300);
  text-decoration: none;
  padding: 0.5rem;
}

#note-details header a:hover {
  color: var(--color-primary-500);
}

#note-details-content {
  color: var(--color-primary-200);
  font-size: 1.15rem;
  white-space: pre-wrap;
}

#note-list {
  max-width: 68rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 2rem auto;
}

#note-list a {
  text-decoration: none;
}

.note {
  width: 30%;
  background-color: var(--color-primary-700);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 4px;
  animation: fade-blur-in 1s ease-out forwards;
  transition: all 0.3s ease-out;
}

.note:hover {
  background-color: var(--color-primary-600);
  transform: translateY(-0.25rem);
}

.note-meta {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary-300);
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-primary-300);
}

.note h2 {
  margin: 0 0 0.5rem 0;
  color: var(--color-primary-200);
}

.note p {
  margin: 0;
  color: var(--color-primary-100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}